server {
    # Ports to listen on
    listen 80;
    listen [::]:80;

    # Server name to listen for
    #server_name _;

    # Path to document root
    root /sites/$host;

    # File to be used as index
    index index.html index.php;

    # Overrides logs defined in nginx.conf, allows per site logs.
    #access_log /sites/test.vm/logs/access.log;
    #error_log /sites/test.vm/logs/error.log;

    # Default server block rules
    #include global/server/defaults.conf;

    #for images lets try the image local first then if not lets make a proxy to use a fallback
    location ~* \.(gif|jpg|png|jpeg)$ {
        try_files $uri $uri/ @img_proxy;
    }

    location @img_proxy {
        rewrite ^ http://fakeimg.pl/1650x750/e3e3e3/d5d5d5/?text=placeholder;
    }

    location / {
            try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
            try_files $uri =404;
            include global/fastcgi-params.conf;

            # Change socket if using PHP pools or PHP 5
            fastcgi_pass unix:/run/php/php7.0-fpm.sock;
            #fastcgi_pass unix:/var/run/php5-fpm.sock;
    }
}